[submodule "ton-index-cpp"]
	path = ton-index-cpp
	url = https://github.com/toncenter/ton-index-worker
[submodule "ton-index-go"]
	path = ton-index-go
	url = https://github.com/toncenter/ton-index-go
