[submodule "external/ton"]
	path = external/ton
	url = https://github.com/dungeon-master-666/ton
	branch = db_secondary
[submodule "external/libpqxx"]
	path = external/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "external/clickhouse-cpp"]
	path = external/clickhouse-cpp
	url = https://github.com/kdimentionaltree/clickhouse-cpp.git
  branch = absl-fix
[submodule "external/hiredis"]
	path = external/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "external/redis-plus-plus"]
	path = external/redis-plus-plus
	url = https://github.com/sewenew/redis-plus-plus.git
[submodule "external/msgpack-c"]
	path = external/msgpack-c
	url = https://github.com/msgpack/msgpack-c
