version: '3.3'
services:
  web:
    build:
      context: .
      dockerfile: deploy/web.Dockerfile
    ports:
      - ${TON_INDEXER_HTTP_PORT}:8081
    secrets:
      - postgres_password
    restart: unless-stopped
    command: -w=1 --bind=0.0.0.0:8081
  backward_indexer:
    build:
      context: .
      dockerfile: deploy/indexer.Dockerfile
    command: --concurrency ${TON_INDEXER_BACKWARD_WORKERS_COUNT:-5} -Q backward_queue
    restart: on-failure
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      REDIS_HOST: redis
      REDIS_PORT: 6379
    secrets:
      - postgres_password
      - tonlib_config
    depends_on:
      - rabbitmq
      - postgres
  backward_scheduler:
    build:
      context: .
      dockerfile: deploy/scheduler.Dockerfile
    command: backward backward_queue
    restart: on-failure
    environment:
      START_SEQNO: ${TON_INDEXER_START_SEQNO:?start masterchain seqno is required}
      BOTTOM_SEQNO: ${TON_INDEXER_BOTTOM_SEQNO:?bottom masterchain seqno is required}
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      REDIS_HOST: redis
      REDIS_PORT: 6379
      WORKERS_COUNT: ${TON_INDEXER_BACKWARD_WORKERS_COUNT:-5}
    secrets:
      - postgres_password
      - tonlib_config
    depends_on:
      backward_indexer:
        condition: service_started
      postgres:
        condition: service_healthy
  forward_indexer:
    build:
      context: .
      dockerfile: deploy/indexer.Dockerfile
    command: --concurrency ${TON_INDEXER_FORWARD_WORKERS_COUNT:-2} -Q forward_queue
    restart: unless-stopped
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      REDIS_HOST: redis
      REDIS_PORT: 6379
    secrets:
      - postgres_password
      - tonlib_config
    depends_on:
      - rabbitmq
      - postgres
  forward_scheduler:
    build:
      context: .
      dockerfile: deploy/scheduler.Dockerfile
    command: forward forward_queue
    restart: unless-stopped
    environment:
      START_SEQNO: ${TON_INDEXER_START_SEQNO:?start masterchain seqno is required}
      BOTTOM_SEQNO: ${TON_INDEXER_BOTTOM_SEQNO:?bottom masterchain seqno is required}
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: 5672
      REDIS_HOST: redis
      REDIS_PORT: 6379
      WORKERS_COUNT: ${TON_INDEXER_FORWARD_WORKERS_COUNT:-2}
    secrets:
      - postgres_password
      - tonlib_config
    depends_on:
      forward_indexer:
        condition: service_started
      postgres:
        condition: service_healthy
  rabbitmq:
    image: rabbitmq
    restart: unless-stopped
  redis:
    image: redis:latest
    restart: unless-stopped
  postgres:
    image: postgres
    restart: unless-stopped
    environment: 
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    ports:
      - 5432:5432
    secrets:
      - postgres_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  postgres_data:
    external: false
secrets:
  postgres_password:
    file: private/postgres_password
  tonlib_config:
    file: ${TON_INDEXER_LITESERVER_CONFIG:?liteserver config file is required}
