alembic
aiocache
aioprocessing
aioredis
crc16
fastapi<0.100
gunicorn
uvicorn
loguru
pydantic
pyyaml
redis
ring
tvm_valuetypes
celery[redis]
psycopg2-binary
sqlalchemy[asyncio]==1.4.46
asyncpg
sqlalchemy-utils
tqdm
requests
asgiref
pytonlib>=0.0.48
uvloop
tqdm
httpx