alembic
aiocache
aioprocessing
aioredis
crc16
fastapi<0.100
gunicorn
uvicorn
loguru
pydantic
pyyaml
redis
ring
git+https://github.com/dungeon-master-666/tvm_valuetypes.git@special_cells
celery[redis]
psycopg2-binary
sqlalchemy[asyncio]==1.4.46
asyncpg
sqlalchemy-utils
tqdm
requests
asgiref
pytonlib>=0.0.48
uvloop
