aiocache
aioprocessing
aioredis
crc16
fastapi
gunicorn
uvicorn
loguru
pydantic
pyyaml
redis
ring
git+https://github.com/toncenter/tvm_valuetypes.git
celery[redis]
psycopg2-binary
sqlalchemy[asyncio]
asyncpg
sqlalchemy-utils
tqdm
requests
asgiref
pytonlib==0.0.30
