aiocache
aioprocessing
aioredis
crc16
fastapi
gunicorn
uvicorn
loguru
pydantic
pyyaml
redis
ring
git+https://github.com/shuva10v/tvm_valuetypes.git
celery[redis]
psycopg2-binary
sqlalchemy[asyncio]==1.4.46
asyncpg
sqlalchemy-utils
tqdm
requests
asgiref
pytonlib==0.0.46
aiohttp
