aiocache==0.12.2
aioprocessing==2.0.1
aioredis==2.0.1
crc16==0.1.1
fastapi==0.105.0
gunicorn==21.2.0
uvicorn==0.24.0.post1
loguru==0.7.2
pydantic==2.5.2
PyYAML==6.0.1
redis==5.0.1
ring==0.10.1
git+https://github.com/toncenter/tvm_valuetypes.git@55b910782eceee5824bc01c3d280905c1432be9d
celery[redis]==5.3.6
psycopg2-binary==2.9.9
sqlalchemy[asyncio]==1.4.46
asyncpg==0.29.0
SQLAlchemy-Utils==0.41.1
tqdm==4.66.1
requests==2.31.0
asgiref==3.7.2
pytonlib==0.0.32
