[
{% for host in prometheus_render_kvrocks_hosts %}
  {
    "targets": ["{{ hostvars[host].prometheus_target_address | default(hostvars[host].ansible_host | default(host)) }}:9121"],
    "labels": {
      "environment": "{{ hostvars[host].monitoring_environment }}",
      "cluster": "{{ hostvars[host].monitoring_cluster }}",
      "tier": "sentinel",
      "instance": "{{ host }}",
      "service": "sentinel_exporter"
    }
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
