[
  {
    "targets": ["127.0.0.1:{{ prometheus_render_sql_exporter_port }}"],
    "labels": {
      "environment": "{{ prometheus_render_stack_name }}",
      "cluster": "monitoring",
      "tier": "monitoring",
      "instance": "sql_exporter-{{ prometheus_render_stack_name }}",
      "service": "sql_exporter"
    }
  }
]
