openapi: 3.1.0
info:
  title: TON Center API v3
  description: TON Index collects data from a full node to PostgreSQL database and
    provides convenient API to an indexed blockchain.
  contact: { }
  version: 1.1.0
servers:
  - url: https://toncenter.com/
    description: TON Center mainnet
paths:
  /api/v3/accountStates:
    get:
      tags:
        - accounts
      summary: Get Account States
      description: Query account states
      operationId: api_v3_get_account_states
      parameters:
        - name: address
          in: query
          description: List of addresses in any form. Maximum 1000 addresses allowed.
          required: true
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: include_boc
          in: query
          description: "Include code and data BOCs. Default: true"
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStatesResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/actions:
    get:
      tags:
        - actions
      summary: Get Actions
      description: Get actions by specified filter.
      operationId: api_v3_get_actions
      parameters:
        - name: account
          in: query
          description: "List of account addresses to get actions. Can be sent in hex,\
          \ base64 or base64url form."
          schema:
            type: string
        - name: tx_hash
          in: query
          description: Find actions by transaction hash.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: msg_hash
          in: query
          description: Find actions by message hash.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: action_id
          in: query
          description: Find actions by the action_id.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: trace_id
          in: query
          description: Find actions by the trace_id.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: mc_seqno
          in: query
          description: Query actions of traces which was completed in masterchain block
            with given seqno
          schema:
            type: integer
            format: int32
        - name: start_utime
          in: query
          description: Query actions for traces with `trace_end_utime >= start_utime`.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: end_utime
          in: query
          description: Query actions for traces with `trace_end_utime <= end_utime`.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: start_lt
          in: query
          description: Query actions for traces with `trace_end_lt >= start_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: end_lt
          in: query
          description: Query actions for traces with `trace_end_lt <= end_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: action_type
          in: query
          description: Include action types.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - call_contract
                - contract_deploy
                - ton_transfer
                - auction_bid
                - change_dns
                - dex_deposit_liquidity
                - dex_withdraw_liquidity
                - delete_dns
                - renew_dns
                - election_deposit
                - election_recover
                - jetton_burn
                - jetton_swap
                - jetton_transfer
                - jetton_mint
                - nft_mint
                - tick_tock
                - stake_deposit
                - stake_withdrawal
                - stake_withdrawal_request
                - subscribe
                - unsubscribe
        - name: exclude_action_type
          in: query
          description: Exclude action types.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - call_contract
                - contract_deploy
                - ton_transfer
                - auction_bid
                - change_dns
                - dex_deposit_liquidity
                - dex_withdraw_liquidity
                - delete_dns
                - renew_dns
                - election_deposit
                - election_recover
                - jetton_burn
                - jetton_swap
                - jetton_transfer
                - jetton_mint
                - nft_mint
                - tick_tock
                - stake_deposit
                - stake_withdrawal
                - stake_withdrawal_request
                - subscribe
                - unsubscribe
        - name: supported_action_types
          in: query
          description: Supported action types
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: include_accounts
          in: query
          description: Include accounts array for each action in response.
          schema:
            type: boolean
            default: false
        - name: include_transactions
          in: query
          description: Include `transactions_full` array with detailed transaction data
            for each action in response.
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sort
          in: query
          description: Sort actions by lt.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/addressBook:
    get:
      tags:
        - accounts
      summary: Address Book
      description: Query address book
      operationId: api_v3_get_address_book
      parameters:
        - name: address
          in: query
          description: "List of addresses in any form to get address book. Max: 1024."
          required: true
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressBook'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/addressInformation:
    get:
      tags:
        - api/v2
      summary: Get Address Information
      description: Get smart contract information.
      operationId: api_v3_get_v2_addressInformation
      parameters:
        - name: address
          in: query
          description: Account address in any form.
          required: true
          schema:
            type: string
        - name: use_v2
          in: query
          description: Use method from api/v2. Not recommended
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2AddressInformation'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/adjacentTransactions:
    get:
      tags:
        - blockchain
      summary: Get Adjacent Transactions
      description: Get parent and/or children for specified transaction.
      operationId: api_v3_get_adjacent_transactions
      parameters:
        - name: hash
          in: query
          description: Transaction hash.
          schema:
            type: string
        - name: direction
          in: query
          description: Direction of message.
          schema:
            type: string
            enum:
              - in
              - out
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/blocks:
    get:
      tags:
        - blockchain
      summary: Get blocks
      description: Returns blocks by specified filters.
      operationId: api_v3_get_blocks
      parameters:
        - name: workchain
          in: query
          description: Block workchain.
          schema:
            type: integer
            format: int32
        - name: shard
          in: query
          description: "Block shard id. Must be sent with *workchain*. Example: `8000000000000000`."
          schema:
            type: string
        - name: seqno
          in: query
          description: Block block seqno. Must be sent with *workchain* and *shard*.
          schema:
            type: integer
            format: int32
        - name: root_hash
          in: query
          description: Block root hash.
          schema:
            type: string
        - name: file_hash
          in: query
          description: Block file hash.
          schema:
            type: string
        - name: mc_seqno
          in: query
          description: Masterchain block seqno
          schema:
            type: integer
            format: int32
        - name: start_utime
          in: query
          description: Query blocks with generation UTC timestamp **after** given timestamp.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: end_utime
          in: query
          description: Query blocks with generation UTC timestamp **before** given timestamp.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: start_lt
          in: query
          description: Query blocks with `lt >= start_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: end_lt
          in: query
          description: Query blocks with `lt <= end_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sort
          in: query
          description: Sort results by UTC timestamp.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Blocks'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/decode:
    get:
      tags:
        - utils
      summary: Decode Opcodes and Bodies
      description: Decode opcodes and message bodies. Opcodes can be in hex (with
        or without 0x prefix) or decimal format. Bodies should be in base64 or hex
        format.
      operationId: api_v3_get_decode
      parameters:
        - name: opcodes
          in: query
          description: List of opcodes to decode (hex or decimal)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: bodies
          in: query
          description: List of message bodies to decode (base64 or hex)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecodeResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
    post:
      tags:
        - utils
      summary: Decode Opcodes and Bodies
      description: Decode opcodes and message bodies. Opcodes can be in hex (with
        or without 0x prefix) or decimal format. Bodies should be in base64 or hex
        format. Use POST method for long parameters that may be truncated in GET requests.
      operationId: api_v3_post_decode
      requestBody:
        description: Decode request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecodeRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecodeResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
      x-codegen-request-body-name: request
  /api/v3/dns/records:
    get:
      tags:
        - dns
      summary: Get DNS Records
      description: Query DNS records by specified filters. Currently .ton and .t.me
        DNS are supported.
      operationId: api_v3_get_dns_records
      parameters:
        - name: wallet
          in: query
          description: Wallet address in any form. DNS records that contain this address
            in wallet category will be returned.
          schema:
            type: string
        - name: domain
          in: query
          description: Domain name to search for. DNS records with this exact domain
            name will be returned.
          schema:
            type: string
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 100
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNSRecordsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/estimateFee:
    post:
      tags:
        - api/v2
      summary: Estimate Fee
      description: "Estimate fees required for query processing. Fields body, init-code\
        \ and init-data accepted in serialized format (b64-encoded)."
      operationId: api_v3_post_v2_estimate_fee
      requestBody:
        description: Estimate fee request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2EstimateFeeRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2EstimateFeeResult'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
      x-codegen-request-body-name: request
  /api/v3/jetton/burns:
    get:
      tags:
        - jettons
      summary: Get Jetton Burns
      description: Get Jetton burns by specified filters
      operationId: api_v3_get_jetton_burns
      parameters:
        - name: address
          in: query
          description: Address of jetton wallet owner in any form. Max 1000
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: jetton_wallet
          in: query
          description: "Jetton wallet address in any form. Max: 1000."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: jetton_master
          in: query
          description: Jetton master address in any form.
          schema:
            type: string
        - name: start_utime
          in: query
          description: Query transactions with generation UTC timestamp **after** given
            timestamp.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: end_utime
          in: query
          description: Query transactions with generation UTC timestamp **before** given
            timestamp.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: start_lt
          in: query
          description: Query transactions with `lt >= start_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: end_lt
          in: query
          description: Query transactions with `lt <= end_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sort
          in: query
          description: Sort transactions by lt.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonBurnsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/jetton/masters:
    get:
      tags:
        - jettons
      summary: Get Jetton Masters
      description: Get Jetton masters by specified filters
      operationId: api_v3_get_jetton_masters
      parameters:
        - name: address
          in: query
          description: "Jetton Master address in any form. Max: 1024."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: admin_address
          in: query
          description: "Address of Jetton Master's admin in any form. Max: 1024."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonMastersResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/jetton/transfers:
    get:
      tags:
        - jettons
      summary: Get Jetton Transfers
      description: Get Jetton transfers by specified filters
      operationId: api_v3_get_jetton_transfers
      parameters:
        - name: owner_address
          in: query
          description: Address of jetton wallet owner in any form. Max 1000
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: jetton_wallet
          in: query
          description: "Jetton wallet address in any form. Max: 1000."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: jetton_master
          in: query
          description: Jetton master address in any form.
          schema:
            type: string
        - name: direction
          in: query
          description: Direction of transfer. *Note:* applied only with owner_address.
          schema:
            type: string
            enum:
              - in
              - out
        - name: start_utime
          in: query
          description: Query transactions with generation UTC timestamp **after** given
            timestamp.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: end_utime
          in: query
          description: Query transactions with generation UTC timestamp **before** given
            timestamp.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: start_lt
          in: query
          description: Query transactions with `lt >= start_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: end_lt
          in: query
          description: Query transactions with `lt <= end_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sort
          in: query
          description: Sort transactions by lt.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonTransfersResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/jetton/wallets:
    get:
      tags:
        - jettons
      summary: Get Jetton Wallets
      description: Get Jetton wallets by specified filters
      operationId: api_v3_get_jetton_wallets
      parameters:
        - name: address
          in: query
          description: "Jetton wallet address in any form. Max: 1000."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: owner_address
          in: query
          description: "Address of Jetton wallet's owner in any form. Max: 1000."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: jetton_address
          in: query
          description: Jetton Master in any form.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: exclude_zero_balance
          in: query
          description: Exclude jetton wallets with 0 balance.
          schema:
            type: boolean
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sort
          in: query
          description: Sort jetton wallets by balance. **Warning:** results may be inconsistent
            during the read with limit and offset.
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JettonWalletsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/masterchainBlockShardState:
    get:
      tags:
        - blockchain
      summary: Get masterchain block shard state
      description: Get masterchain block shard state. Same as /api/v2/shards.
      operationId: api_v3_get_masterchainBlockShardState
      parameters:
        - name: seqno
          in: query
          description: Masterchain block seqno.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/masterchainBlockShards:
    get:
      tags:
        - blockchain
      summary: Get masterchain block shard state
      description: "Returns all worchain blocks, that appeared after previous masterchain\
        \ block."
      operationId: api_v3_get_masterchainBlockShards
      parameters:
        - name: seqno
          in: query
          description: Masterchain block seqno.
          required: true
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/masterchainInfo:
    get:
      tags:
        - blockchain
      summary: Get Masterchain Info
      description: Get first and last indexed block
      operationId: api_v3_get_masterchain_info
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MasterchainInfo'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/message:
    post:
      tags:
        - api/v2
      summary: Send Message
      description: Send an external message to the TON network.
      operationId: api_v3_post_v2_message
      requestBody:
        description: Message in boc base64 format.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2SendMessageRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2SendMessageResult'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
      x-codegen-request-body-name: boc
  /api/v3/messages:
    get:
      tags:
        - blockchain
      summary: Get messages
      description: Get messages by specified filters.
      operationId: api_v3_get_messages
      parameters:
        - name: msg_hash
          in: query
          description: "Message hash. Acceptable in hex, base64 and base64url forms."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: body_hash
          in: query
          description: Hash of message body.
          schema:
            type: string
        - name: source
          in: query
          description: "The source account address. Can be sent in hex, base64 or base64url\
          \ form. Use value `null` to get external messages."
          schema:
            type: string
        - name: destination
          in: query
          description: "The destination account address. Can be sent in hex, base64\
          \ or base64url form. Use value `null` to get log messages."
          schema:
            type: string
        - name: opcode
          in: query
          description: Opcode of message in hex or signed 32-bit decimal form.
          schema:
            type: string
        - name: start_utime
          in: query
          description: Query messages with `created_at >= start_utime`.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: end_utime
          in: query
          description: Query messages with `created_at >= start_utime`.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: start_lt
          in: query
          description: Query messages with `created_lt >= start_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: end_lt
          in: query
          description: Query messages with `created_lt <= end_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: direction
          in: query
          description: Direction of message.
          schema:
            type: string
            enum:
              - in
              - out
        - name: exclude_externals
          in: query
          description: Exclude external messages.
          schema:
            type: boolean
        - name: only_externals
          in: query
          description: Return only external messages.
          schema:
            type: boolean
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sort
          in: query
          description: "Sort transactions by lt. If set to `desc`, you better set `start_lt\
          \ = 1` to get latest messages."
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagesResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/metadata:
    get:
      tags:
        - accounts
      summary: Metadata
      description: Query address metadata
      operationId: api_v3_get_metadata
      parameters:
        - name: address
          in: query
          description: "List of addresses in any form to get address metadata. Max:\
          \ 1024."
          required: true
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/multisig/orders:
    get:
      tags:
        - multisig
      summary: Get Multisig Orders
      description: Get multisig orders by specified filters
      operationId: api_v3_get_multisig_orders
      parameters:
        - name: address
          in: query
          description: "Order address in any form. Max: 1024."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: multisig_address
          in: query
          description: "Address of corresponding multisig. Max: 1024."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: parse_actions
          in: query
          description: Parser order actions
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1024
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sort
          in: query
          description: Sort orders by last_transaction_lt.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultisigOrderResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/multisig/wallets:
    get:
      tags:
        - multisig
      summary: Get Multisigs
      description: Get multisig contracts by specified filters with associated orders
      operationId: api_v3_get_multisig_wallets
      parameters:
        - name: address
          in: query
          description: "Multisig contract address in any form. Max: 1024."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: wallet_address
          in: query
          description: "Address of signer or proposer wallet in any form. Max: 1024."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1024
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sort
          in: query
          description: Sort multisigs by last_transaction_lt.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - name: include_orders
          in: query
          description: Gather multisig orders
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultisigResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/nft/collections:
    get:
      tags:
        - nfts
      summary: Get NFT collections
      description: Get NFT collections by specified filters
      operationId: api_v3_get_nft_collections
      parameters:
        - name: collection_address
          in: query
          description: "Collection address in any form. Max: 1024."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: owner_address
          in: query
          description: "Address of collection owner in any form. Max: 1024."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFTCollectionsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/nft/items:
    get:
      tags:
        - nfts
      summary: Get NFT items
      description: Get NFT items by specified filters
      operationId: api_v3_get_nft_items
      parameters:
        - name: address
          in: query
          description: "NFT item address in any form. Max: 1000."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: owner_address
          in: query
          description: "Address of NFT item owner in any form. Max: 1000."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: collection_address
          in: query
          description: Collection address in any form.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: index
          in: query
          description: "Index of item for given collection. Max: 1000."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: sort_by_last_transaction_lt
          in: query
          description: Sort NFT items by last transaction lt descending. **Warning:**
            results may be inconsistent during pagination with limit and offset.
          schema:
            type: boolean
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFTItemsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/nft/transfers:
    get:
      tags:
        - nfts
      summary: Get NFT Transfers
      description: Get transfers of NFT items by specified filters
      operationId: api_v3_get_nft_transfers
      parameters:
        - name: owner_address
          in: query
          description: Address of NFT owner in any form. Max 1000
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: item_address
          in: query
          description: "Address of NFT item in any form. Max: 1000."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: collection_address
          in: query
          description: Collection address in any form.
          schema:
            type: string
        - name: direction
          in: query
          description: Direction of transfer.
          schema:
            type: string
            enum:
              - in
              - out
        - name: start_utime
          in: query
          description: Query transactions with generation UTC timestamp **after** given
            timestamp.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: end_utime
          in: query
          description: Query transactions with generation UTC timestamp **before** given
            timestamp.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: start_lt
          in: query
          description: Query transactions with `lt >= start_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: end_lt
          in: query
          description: Query transactions with `lt <= end_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sort
          in: query
          description: Sort transactions by lt.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NFTTransfersResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/pendingActions:
    get:
      tags:
        - actions
      summary: Get Pending Actions
      description: Get actions by specified filter.
      operationId: api_v3_get_pending_actions
      parameters:
        - name: account
          in: query
          description: "List of account addresses to get actions. Can be sent in hex,\
          \ base64 or base64url form."
          schema:
            type: string
        - name: ext_msg_hash
          in: query
          description: Find actions by trace external hash
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: supported_action_types
          in: query
          description: Supported action types
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: include_transactions
          in: query
          description: Include `transactions_full` array with detailed transaction data
            for each action in response.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/pendingTraces:
    get:
      tags:
        - actions
      summary: Get Pending Traces
      description: Get traces by specified filter.
      operationId: api_v3_get_pending_traces
      parameters:
        - name: account
          in: query
          description: "List of account addresses to get transactions. Can be sent in\
          \ hex, base64 or base64url form."
          schema:
            type: string
        - name: ext_msg_hash
          in: query
          description: Find trace by external hash
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracesResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/pendingTransactions:
    get:
      tags:
        - blockchain
      summary: Get pending transactions
      description: Get pending transactions by specified filter.
      operationId: api_v3_get_pending_transactions
      parameters:
        - name: account
          in: query
          description: "List of account addresses to get transactions. Can be sent in\
          \ hex, base64 or base64url form."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: trace_id
          in: query
          description: Find transactions by trace id.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/runGetMethod:
    post:
      tags:
        - api/v2
      summary: Run Get-Method
      description: |-
        Run get method of smart contract. Stack supports only `num`, `cell` and `slice` types:
        ```
        [
        {
        "type": "num",
        "value": "0x12a"
        },
        {
        "type": "cell",
        "value": "te6..." // base64 encoded boc with cell
        },
        {
        "type": "slice",
        "value": "te6..." // base64 encoded boc with slice
        }
        ]
        ```
      operationId: api_v3_post_v2_rungetmethod
      requestBody:
        description: Run Get-method request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2RunGetMethodRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RunGetMethodRequest'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
      x-codegen-request-body-name: request
  /api/v3/topAccountsByBalance:
    get:
      tags:
        - stats
      summary: Get Top Accounts By Balance
      description: Get list of accounts sorted descending by balance.
      operationId: api_v3_get_top_accounts_by_balance
      parameters:
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountBalance'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/traces:
    get:
      tags:
        - actions
      summary: Get Traces
      description: Get traces by specified filter.
      operationId: api_v3_get_traces
      parameters:
        - name: account
          in: query
          description: "List of account addresses to get transactions. Can be sent in\
          \ hex, base64 or base64url form."
          schema:
            type: string
        - name: trace_id
          in: query
          description: Find trace by trace id.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: tx_hash
          in: query
          description: Find trace by transaction hash.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: msg_hash
          in: query
          description: Find trace by message hash.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: mc_seqno
          in: query
          description: Query traces that was completed in masterchain block with given
            seqno
          schema:
            type: integer
            format: int32
        - name: start_utime
          in: query
          description: "Query traces, which was finished **after** given timestamp."
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: end_utime
          in: query
          description: "Query traces, which was finished **before** given timestamp."
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: start_lt
          in: query
          description: Query traces with `end_lt >= start_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: end_lt
          in: query
          description: Query traces with `end_lt <= end_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: include_actions
          in: query
          description: Include trace actions.
          schema:
            type: boolean
            default: false
        - name: supported_action_types
          in: query
          description: Supported action types
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sort
          in: query
          description: Sort traces by lt.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracesResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/transactions:
    get:
      tags:
        - blockchain
      summary: Get transactions
      description: Get transactions by specified filter.
      operationId: api_v3_get_transactions
      parameters:
        - name: workchain
          in: query
          description: Block workchain.
          schema:
            type: integer
            format: int32
        - name: shard
          in: query
          description: "Block shard id. Must be sent with *workchain*. Example: `8000000000000000`."
          schema:
            type: string
        - name: seqno
          in: query
          description: Block block seqno. Must be sent with *workchain* and *shard*.
          schema:
            type: integer
            format: int32
        - name: mc_seqno
          in: query
          description: Masterchain block seqno.
          schema:
            type: integer
            format: int32
        - name: account
          in: query
          description: "List of account addresses to get transactions. Can be sent in\
          \ hex, base64 or base64url form."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: exclude_account
          in: query
          description: Exclude transactions on specified account addresses.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: hash
          in: query
          description: Transaction hash.
          schema:
            type: string
        - name: lt
          in: query
          description: Transaction lt.
          schema:
            type: integer
            format: int64
        - name: start_utime
          in: query
          description: Query transactions with generation UTC timestamp **after** given
            timestamp.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: end_utime
          in: query
          description: Query transactions with generation UTC timestamp **before** given
            timestamp.
          schema:
            minimum: 0
            type: integer
            format: int32
        - name: start_lt
          in: query
          description: Query transactions with `lt >= start_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: end_lt
          in: query
          description: Query transactions with `lt <= end_lt`.
          schema:
            minimum: 0
            type: integer
            format: int64
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sort
          in: query
          description: Sort transactions by lt.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/transactionsByMasterchainBlock:
    get:
      tags:
        - blockchain
      summary: Get transactions by Masterchain block
      description: Returns transactions from masterchain block and from all shards.
      operationId: api_v3_get_transactions_by_masterchain_block
      parameters:
        - name: seqno
          in: query
          description: Masterchain block seqno.
          required: true
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: sort
          in: query
          description: Sort transactions by lt.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/transactionsByMessage:
    get:
      tags:
        - blockchain
      summary: Get transactions by message
      description: Get transactions whose inbound/outbound message has the specified
        hash. \
      operationId: api_v3_get_transactions_by_message
      parameters:
        - name: msg_hash
          in: query
          description: "Message hash. Acceptable in hex, base64 and base64url forms."
          schema:
            type: string
        - name: body_hash
          in: query
          description: Hash of message body.
          schema:
            type: string
        - name: opcode
          in: query
          description: Opcode of message in hex or signed 32-bit decimal form.
          schema:
            type: string
        - name: direction
          in: query
          description: Direction of message.
          schema:
            type: string
            enum:
              - in
              - out
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/vesting:
    get:
      tags:
        - vesting
      summary: Get Vesting Contracts
      description: Get vesting contracts by specified filters
      operationId: api_v3_get_vesting_contracts
      parameters:
        - name: contract_address
          in: query
          description: "Vesting contract address in any form. Max: 1000."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: wallet_address
          in: query
          description: "Wallet address to filter by owner or sender. Max: 1000."
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: check_whitelist
          in: query
          description: Check if wallet address is in whitelist.
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          description: Limit number of queried rows. Use with *offset* to batch read.
          schema:
            maximum: 1000
            minimum: 1
            type: integer
            format: int32
            default: 10
        - name: offset
          in: query
          description: Skip first N rows. Use with *limit* to batch read.
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VestingContractsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/walletInformation:
    get:
      tags:
        - api/v2
      summary: Get Wallet Information
      description: "Get wallet smart contract information. The following wallets are\
        \ supported: `v1r1`, `v1r2`, `v1r3`, `v2r1`, `v2r2`, `v3r1`, `v3r2`, `v4r1`,\
        \ `v4r2`, `v5beta`, `v5r1`. In case the account is not a wallet error code\
        \ 409 is returned."
      operationId: api_v3_get_wallet_information
      parameters:
        - name: address
          in: query
          description: Account address in any form.
          required: true
          schema:
            type: string
        - name: use_v2
          in: query
          description: Use method from api/v2. Not recommended
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2WalletInformation'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
  /api/v3/walletStates:
    get:
      tags:
        - accounts
      summary: Get Wallet States
      description: Query wallet information
      operationId: api_v3_get_wallet_states
      parameters:
        - name: address
          in: query
          description: List of addresses in any form. Maximum 1000 addresses allowed.
          required: true
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletStatesResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
      security:
        - APIKeyHeader: [ ]
        - APIKeyQuery: [ ]
components:
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      name: X-Api-Key
      in: header
    APIKeyQuery:
      type: apiKey
      name: api_key
      in: query
  schemas:
    AccountAddress:
      type: string
      format: address
    Coins:
      type: string
      format: bigint
      x-java-type: java.math.BigInteger
      x-go-type: '*big.Int'
      x-typescript-type: bignum
      x-js-type: bignum
      minimum: 0
      description: Variable-length 120-bit integer representing native currency amount
    ExtraCoins:
      type: string
      format: bigint
      x-java-type: java.math.BigInteger
      x-go-type: '*big.Int'
      x-typescript-type: bignum
      x-js-type: bignum
      minimum: 0
      description: Variable-length 120-bit integer representing extra currency amount
    ExtraCurrencies:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/ExtraCoins'
    WorkchainId:
      type: integer
      format: int32
      minimum: -1
      maximum: 0
      description: Workchain identifier. -1 for masterchain, 0 for basechain
    ShardId:
      type: string
      format: hex
      pattern: '^[0-9a-fA-F]{1,16}$'
      example: 8000000000000000
      description: 64-bit shard identifier in hex format
    Hash:
      type: string
      format: hash
      pattern: '^[A-Za-z0-9+/]{43}=$'
      contentEncoding: base64
      description: 32-byte hash in base64 format
    LogicalTime:
      type: integer
      format: int64
      minimum: 0
      description: 64-bit logical time
    UnixTime:
      type: integer
      format: int64
      minimum: 0
      description: Unix timestamp in seconds
    Opcode:
      type: integer
      format: int64
    AccountStatus:
      type: string
      enum:
        - uninit
        - frozen
        - active
        - nonexist
    AccountStatusChange:
      type: string
      enum:
        - unchanged
        - frozen
        - deleted
    TokenType:
      type: string
      enum:
        - jetton_wallets
        - nft_items
        - nft_collections
        - jetton_masters
    AccountBalance:
      type: object
      required:
        - account
        - balance
      properties:
        account:
          $ref: '#/components/schemas/AccountAddress'
        balance:
          $ref: '#/components/schemas/Coins'
    AccountState:
      required:
        - account_status
        - hash
      type: object
      properties:
        account_status:
          type: string
          enum:
            - uninit
            - frozen
            - active
            - inactive
        balance:
          $ref: '#/components/schemas/Coins'
        code_boc:
          type: string
        code_hash:
          $ref: '#/components/schemas/Hash'
        data_boc:
          type: string
        data_hash:
          $ref: '#/components/schemas/Hash'
        extra_currencies:
          type: object
          additionalProperties:
            type: string
        frozen_hash:
          $ref: '#/components/schemas/Hash'
        hash:
          type: string
    AccountStateFull:
      required:
        - account_state_hash
        - status
      type: object
      properties:
        account_state_hash:
          $ref: '#/components/schemas/Hash'
        address:
          type: string
          format: address
        balance:
          type: string
        code_boc:
          type: string
        code_hash:
          $ref: '#/components/schemas/Hash'
        contract_methods:
          type: array
          items:
            type: integer
        data_boc:
          type: string
        data_hash:
          $ref: '#/components/schemas/Hash'
        extra_currencies:
          type: object
          additionalProperties:
            type: string
        frozen_hash:
          $ref: '#/components/schemas/Hash'
        interfaces:
          type: array
          items:
            type: string
        last_transaction_hash:
          $ref: '#/components/schemas/Hash'
        last_transaction_lt:
          $ref: '#/components/schemas/LogicalTime'
        status:
          type: string
    Action:
      type: object
      properties:
        accounts:
          type: array
          items:
            type: string
        action_id:
          type: string
        details:
          type: object
        end_lt:
          $ref: '#/components/schemas/LogicalTime'
        end_utime:
          $ref: '#/components/schemas/UnixTime'
        start_lt:
          $ref: '#/components/schemas/LogicalTime'
        start_utime:
          $ref: '#/components/schemas/UnixTime'
        success:
          type: boolean
        trace_end_lt:
          $ref: '#/components/schemas/LogicalTime'
        trace_end_utime:
          type: integer
        trace_external_hash:
          type: string
        trace_external_hash_norm:
          type: string
        trace_id:
          type: string
        trace_mc_seqno_end:
          type: integer
        transactions:
          type: array
          items:
            type: string
        transactions_full:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        type:
          type: string
    AddressBook:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/AddressBookRow'
    AddressBookRow:
      type: object
      properties:
        domain:
          type: string
        interfaces:
          type: array
          items:
            type: string
        user_friendly:
          type: string
    AddressMetadata:
      required:
        - is_indexed
        - token_info
      type: object
      properties:
        is_indexed:
          type: boolean
        token_info:
          type: array
          items:
            $ref: '#/components/schemas/TokenInfo'
    Block:
      required:
        - after_merge
        - after_split
        - before_split
        - created_by
        - end_lt
        - file_hash
        - flags
        - gen_catchain_seqno
        - gen_utime
        - global_id
        - key_block
        - master_ref_seqno
        - masterchain_block_ref
        - min_ref_mc_seqno
        - prev_blocks
        - prev_key_block_seqno
        - rand_seed
        - root_hash
        - seqno
        - shard
        - start_lt
        - tx_count
        - validator_list_hash_short
        - version
        - vert_seqno
        - vert_seqno_incr
        - want_merge
        - want_split
        - workchain
      type: object
      properties:
        workchain:
          $ref: '#/components/schemas/WorkchainId'
        shard:
          $ref: '#/components/schemas/ShardId'
        seqno:
          type: integer
          description: Block sequence number
        root_hash:
          allOf:
            - $ref: '#/components/schemas/Hash'
          description: Base64-encoded 32-byte hash representing the root cell of the referenced block.
        file_hash:
          allOf:
            - $ref: '#/components/schemas/Hash'
          description: Base64-encoded 32-byte hash of the BOC-encoded root cell for the referenced block.
        global_id:
          type: integer
          format: int32
          description: Global network id.
        version:
          type: integer
          format: int32
          description: Block model version
        after_merge:
          type: boolean
          description: Whether this block was produced after the shards were merged.
        before_split:
          type: boolean
          description: Whether this block was produced before the shards split.
        after_split:
          type: boolean
          description: Whether this block was produced after the shards split.
        want_merge:
          type: boolean
          description: Hint that the shard with this block should merge.
        want_split:
          type: boolean
          description: Hint that the shard with this block should split.
        key_block:
          type: boolean
          description: Whether this block is a key block.
        vert_seqno_incr:
          type: boolean
          description: Whether the vertical sequence number is incremented in this block.
        flags:
          type: integer
          format: int32
          description: Block flags (currently only bit 1 is used, for `gen_software`)
        gen_utime:
          allOf:
            - $ref: '#/components/schemas/UnixTime'
          description: Unix timestamp in seconds when the block was created.
        start_lt:
          allOf:
            - $ref: '#/components/schemas/LogicalTime'
          description: Logical time range start.
        end_lt:
          allOf:
            - $ref: '#/components/schemas/LogicalTime'
          description: Logical time range end.
        validator_list_hash_short:
          type: integer
          format: int32
          description: Last 4 bytes of the hash of the validator list.
        gen_catchain_seqno:
          type: integer
          format: int32
          description: Seqno of the catchain session where this block was produced.
        min_ref_mc_seqno:
          type: integer
          format: int32
          default: 0
          minimum: 0
        prev_key_block_seqno:
          type: integer
          format: int32
          description: Previous key block seqno.
        vert_seqno:
          type: integer
          format: int32
          description: Block vertical sequence number.
        master_ref_seqno:
          type: integer
          format: int32
          default: 0
          minimum: 0
        rand_seed:
          type: string
          format: bytes
          description: Random generator seed.
          pattern: '^[A-Za-z0-9+/]{43}=$'
        created_by:
          type: string
          format: bytes
          description: Public key of the collator who produced this block.
          pattern: '^[A-Za-z0-9+/]{43}=$'
        tx_count:
          type: integer
          format: int32
          minimum: 0
          description: Number of transactions in the block.
        masterchain_block_ref:
          $ref: '#/components/schemas/BlockIdShort'
        prev_blocks:
          type: array
          maxItems: 2
          items:
            $ref: '#/components/schemas/BlockIdShort'
    BlockIdShort:
      required:
        - seqno
        - shard
        - workchain
      type: object
      properties:
        workchain:
          $ref: '#/components/schemas/WorkchainId'
        shard:
          $ref: '#/components/schemas/ShardId'
        seqno:
          type: integer
          format: int32
          minimum: 0
    DNSRecord:
      type: object
      properties:
        dns_next_resolver:
          type: string
        dns_site_adnl:
          type: string
        dns_storage_bag_id:
          type: string
        dns_wallet:
          type: string
        domain:
          type: string
        nft_item_address:
          type: string
        nft_item_owner:
          type: string
    DecodeRequest:
      type: object
      properties:
        bodies:
          type: array
          items:
            type: string
        opcodes:
          type: array
          items:
            type: string
    JettonBurn:
      type: object
      properties:
        amount:
          type: string
        custom_payload:
          type: string
        decoded_custom_payload:
          type: array
          items:
            type: integer
        jetton_master:
          type: string
        jetton_wallet:
          type: string
        owner:
          type: string
        query_id:
          type: string
        response_destination:
          type: string
        trace_id:
          type: string
        transaction_aborted:
          type: boolean
        transaction_hash:
          $ref: '#/components/schemas/Hash'
        transaction_lt:
          $ref: '#/components/schemas/LogicalTime'
        transaction_now:
          $ref: '#/components/schemas/UnixTime'
    JettonMaster:
      type: object
      properties:
        address:
          type: string
        admin_address:
          type: string
        code_hash:
          $ref: '#/components/schemas/Hash'
        data_hash:
          $ref: '#/components/schemas/Hash'
        jetton_content:
          type: object
          additionalProperties: true
        jetton_wallet_code_hash:
          $ref: '#/components/schemas/Hash'
        last_transaction_lt:
          $ref: '#/components/schemas/LogicalTime'
        mintable:
          type: boolean
        total_supply:
          type: string
    JettonTransfer:
      type: object
      properties:
        amount:
          type: string
        custom_payload:
          type: string
        decoded_custom_payload:
          type: array
          items:
            type: integer
        decoded_forward_payload:
          type: array
          items:
            type: integer
        destination:
          type: string
        forward_payload:
          type: string
        forward_ton_amount:
          type: string
        jetton_master:
          type: string
        query_id:
          type: string
        response_destination:
          type: string
        source:
          type: string
        source_wallet:
          type: string
        trace_id:
          type: string
        transaction_aborted:
          type: boolean
        transaction_hash:
          $ref: '#/components/schemas/Hash'
        transaction_lt:
          $ref: '#/components/schemas/LogicalTime'
        transaction_now:
          $ref: '#/components/schemas/UnixTime'
    JettonWallet:
      type: object
      properties:
        address:
          type: string
        balance:
          type: string
        code_hash:
          $ref: '#/components/schemas/Hash'
        data_hash:
          $ref: '#/components/schemas/Hash'
        jetton:
          type: string
        last_transaction_lt:
          $ref: '#/components/schemas/LogicalTime'
        mintless_info:
          $ref: '#/components/schemas/JettonWalletMintlessInfo'
        owner:
          type: string
    JettonWalletMintlessInfo:
      type: object
      properties:
        amount:
          type: string
        custom_payload_api_uri:
          type: array
          items:
            type: string
        expire_at:
          type: integer
        start_from:
          type: integer
    Message:
      required:
        - hash
      type: object
      properties:
        hash:
          $ref: "#/components/schemas/Hash"
        source:
          $ref: "#/components/schemas/AccountAddress"
        destination:
          $ref: "#/components/schemas/AccountAddress"
        value:
          $ref: '#/components/schemas/Coins'
        value_extra_currencies:
          $ref: '#/components/schemas/ExtraCurrencies'
        fwd_fee:
          $ref: '#/components/schemas/Coins'
        ihr_fee:
          $ref: '#/components/schemas/Coins'
        extra_flags:
          $ref: '#/components/schemas/Coins'
        created_lt:
          $ref: '#/components/schemas/LogicalTime'
        created_at:
          $ref: '#/components/schemas/UnixTime'
        opcode:
          $ref: '#/components/schemas/Opcode'
        decoded_opcode:
          type: string
        ihr_disabled:
          type: boolean
        bounce:
          type: boolean
        bounced:
          type: boolean
        in_msg_tx_hash:
          $ref: '#/components/schemas/Hash'
        out_msg_tx_hash:
          $ref: '#/components/schemas/Hash'
        message_content:
          $ref: '#/components/schemas/MessageContent'
        init_state:
          $ref: '#/components/schemas/MessageContent'
        hash_norm:
          $ref: '#/components/schemas/Hash'
    MessageContent:
      type: object
      properties:
        body:
          type: string
        decoded:
          type: object
          properties: { }
        hash:
          $ref: '#/components/schemas/Hash'
    Metadata:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/AddressMetadata'
    MsgSize:
      type: object
      required: [ cells,bits ]
      properties:
        cells:
          type: integer
          format: int64
          minimum: 0
          description: Amount of unique cells.
        bits:
          type: integer
          format: int32
          minimum: 0
          description: The total number of bits in unique cells.
    Multisig:
      type: object
      properties:
        address:
          type: string
        code_hash:
          $ref: '#/components/schemas/Hash'
        data_hash:
          $ref: '#/components/schemas/Hash'
        last_transaction_lt:
          $ref: '#/components/schemas/LogicalTime'
        next_order_seqno:
          type: string
        orders:
          type: array
          items:
            $ref: '#/components/schemas/MultisigOrder'
        proposers:
          type: array
          items:
            type: string
        signers:
          type: array
          items:
            type: string
        threshold:
          type: integer
    MultisigOrder:
      type: object
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/OrderAction'
        address:
          type: string
        approvals_mask:
          type: string
        approvals_num:
          type: integer
        code_hash:
          type: string
        data_hash:
          type: string
        expiration_date:
          type: integer
        last_transaction_lt:
          $ref: '#/components/schemas/LogicalTime'
        multisig_address:
          type: string
        order_boc:
          type: string
        order_seqno:
          type: string
        sent_for_execution:
          type: boolean
        signers:
          type: array
          items:
            type: string
        threshold:
          type: integer
    NFTCollection:
      type: object
      properties:
        address:
          type: string
        code_hash:
          $ref: '#/components/schemas/Hash'
        collection_content:
          type: object
          additionalProperties: true
        data_hash:
          $ref: '#/components/schemas/Hash'
        last_transaction_lt:
          $ref: '#/components/schemas/LogicalTime'
        next_item_index:
          type: string
        owner_address:
          type: string
    NFTIndex:
      type: string
      format: bigint
      x-java-type: java.math.BigInteger
      x-go-type: '*big.Int'
      x-typescript-type: bignum
      x-js-type: bignum
      description: 257-bit integer of NFT item index
    NFTItem:
      type: object
      properties:
        address:
          type: string
        auction_contract_address:
          type: string
        code_hash:
          $ref: '#/components/schemas/Hash'
        collection:
          $ref: '#/components/schemas/NFTCollection'
        collection_address:
          type: string
        content:
          type: object
          additionalProperties: true
        data_hash:
          $ref: '#/components/schemas/Hash'
        index:
          type: string
        init:
          type: boolean
        last_transaction_lt:
          $ref: '#/components/schemas/LogicalTime'
        on_sale:
          type: boolean
        owner_address:
          type: string
        real_owner:
          type: string
        sale_contract_address:
          type: string
    NFTItemsResponse:
      type: object
      properties:
        address_book:
          $ref: '#/components/schemas/AddressBook'
        metadata:
          $ref: '#/components/schemas/Metadata'
        nft_items:
          type: array
          items:
            $ref: '#/components/schemas/NFTItem'
    NFTTransfer:
      type: object
      properties:
        custom_payload:
          type: string
        decoded_custom_payload:
          type: array
          items:
            type: integer
        decoded_forward_payload:
          type: array
          items:
            type: integer
        forward_amount:
          type: string
        forward_payload:
          type: string
        new_owner:
          type: string
        nft_address:
          type: string
        nft_collection:
          type: string
        old_owner:
          type: string
        query_id:
          type: string
        response_destination:
          type: string
        trace_id:
          type: string
        transaction_aborted:
          type: boolean
        transaction_hash:
          $ref: '#/components/schemas/Hash'
        transaction_lt:
          $ref: '#/components/schemas/LogicalTime'
        transaction_now:
          $ref: '#/components/schemas/UnixTime'
    RequestError:
      type: object
      properties:
        code:
          type: integer
        error:
          type: string
    TokenInfo:
      type: object
      required:
        - valid
        - type
      properties:
        valid:
          type: boolean
        type:
          $ref: '#/components/schemas/TokenType'
        name:
          type: string
        symbol:
          type: string
        description:
          type: string
        image:
          type: string
        nft_index:
          $ref: '#/components/schemas/NFTIndex'
        extra:
          type: object
          additionalProperties: true
    Trace:
      type: object
      properties:
        actions:
          type: array
          items:
            $ref: '#/components/schemas/Action'
        end_lt:
          $ref: '#/components/schemas/LogicalTime'
        end_utime:
          type: integer
        external_hash:
          type: string
        is_incomplete:
          type: boolean
        mc_seqno_end:
          type: string
        mc_seqno_start:
          type: string
        start_lt:
          $ref: '#/components/schemas/LogicalTime'
        start_utime:
          type: integer
        trace:
          $ref: '#/components/schemas/TraceNode'
        trace_id:
          type: string
        trace_info:
          $ref: '#/components/schemas/TraceMeta'
        transactions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Transaction'
        transactions_order:
          type: array
          items:
            type: string
        warning:
          type: string
    TraceMeta:
      type: object
      properties:
        classification_state:
          type: string
        messages:
          type: integer
        pending_messages:
          type: integer
        trace_state:
          type: string
        transactions:
          type: integer
    TraceNode:
      type: object
      properties:
        children:
          type: array
          items:
            $ref: '#/components/schemas/TraceNode'
        in_msg:
          $ref: '#/components/schemas/Message'
        in_msg_hash:
          $ref: '#/components/schemas/Hash'
        transaction:
          $ref: '#/components/schemas/Transaction'
        tx_hash:
          $ref: '#/components/schemas/Hash'
    StoragePhase:
      type: object
      required:
        - storage_fees_collected
        - status_change
      properties:
        storage_fees_collected:
          $ref: '#/components/schemas/Coins'
        storage_fees_due:
          $ref: '#/components/schemas/Coins'
        status_change:
          $ref: '#/components/schemas/AccountStatusChange'
    CreditPhase:
      type: object
      required:
        - credit
        - credit_extra_currencies
      properties:
        due_fees_collected:
          $ref: '#/components/schemas/Coins'
        credit:
          $ref: '#/components/schemas/Coins'
        credit_extra_currencies:
          $ref: '#/components/schemas/ExtraCurrencies'
    ComputeSkipReason:
      type: string
      enum:
        - no_state
        - bad_state
        - no_gas
        - suspended
    ComputePhase:
      type: object
      required: [ skipped ]
      properties:
        skipped:
          type: boolean
      discriminator:
        propertyName: skipped
        mapping:
          true: '#/components/schemas/ComputePhaseSkipped'
          false: '#/components/schemas/ComputePhaseExecuted'
    ComputePhaseSkipped:
      allOf:
        - $ref: '#/components/schemas/ComputePhase'
        - type: object
          required: [ reason ]
          properties:
            reason:
              $ref: '#/components/schemas/ComputeSkipReason'
    ComputePhaseExecuted:
      allOf:
        - $ref: '#/components/schemas/ComputePhase'
        - type: object
          required: [ success,msg_state_used,account_activated,gas_fees,gas_used,gas_limit,mode,exit_code,vm_steps,vm_final_state_hash,vm_init_state_hash ]
          properties:
            success:
              type: boolean
            msg_state_used:
              type: boolean
            account_activated:
              type: boolean
            gas_fees:
              $ref: '#/components/schemas/Coins'
            gas_used:
              type: integer
              format: int64
            gas_limit:
              type: integer
              format: int64
            gas_credit:
              type: integer
              format: int64
            mode:
              type: integer
              format: int32
            exit_code:
              type: integer
              format: int32
            exit_arg:
              type: integer
              format: int32
            vm_steps:
              type: integer
              format: int32
            vm_final_state_hash:
              $ref: '#/components/schemas/Hash'
            vm_init_state_hash:
              $ref: '#/components/schemas/Hash'
    ActionPhase:
      required: [ success,action_list_hash,no_funds,status_change,result_code,tot_actions,spec_actions,skipped_actions,msgs_created,action_list_hash,tot_msg_size ]
      type: object
      properties:
        success:
          type: boolean
        valid:
          type: boolean
        no_funds:
          type: boolean
        status_change:
          $ref: '#/components/schemas/AccountStatusChange'
        total_fwd_fees:
          $ref: '#/components/schemas/Coins'
        total_action_fees:
          $ref: '#/components/schemas/Coins'
        result_code:
          type: integer
          format: int32
        result_arg:
          type: integer
          format: int32
        tot_actions:
          type: integer
          format: int32
          maximum: 65535
        spec_actions:
          type: integer
          format: int32
          maximum: 65535
        skipped_actions:
          type: integer
          format: int32
          maximum: 65535
        msgs_created:
          type: integer
          format: int32
          maximum: 65535
        action_list_hash:
          $ref: '#/components/schemas/Hash'
        tot_msg_size:
          $ref: '#/components/schemas/MsgSize'
    BouncePhaseType:
      type: string
      enum: [ negfunds,nofunds,ok ]
    BouncePhase:
      type: object
      required: [ type ]
      properties:
        type:
          $ref: '#/components/schemas/BouncePhaseType'
      discriminator:
        propertyName: type
        mapping:
          negfunds: '#/components/schemas/BouncePhaseNegFunds'
          nofunds: '#/components/schemas/BouncePhaseNoFunds'
          ok: '#/components/schemas/BouncePhaseExecuted'
    BouncePhaseNegFunds:
      allOf:
        - $ref: '#/components/schemas/BouncePhase'
        - type: object
    BouncePhaseNoFunds:
      allOf:
        - $ref: '#/components/schemas/BouncePhase'
        - type: object
          required: [ msg_size,req_fwd_fees ]
          properties:
            msg_size:
              $ref: '#/components/schemas/MsgSize'
            req_fwd_fees:
              $ref: '#/components/schemas/Coins'
    BouncePhaseExecuted:
      allOf:
        - $ref: '#/components/schemas/BouncePhase'
        - type: object
          required: [ msg_size,fwd_fees,msg_fees ]
          properties:
            msg_size:
              $ref: '#/components/schemas/MsgSize'
            msg_fees:
              $ref: '#/components/schemas/Coins'
            fwd_fees:
              $ref: '#/components/schemas/Coins'
    SplitInfo:
      type: object
      properties:
        cur_shard_pfx_len:
          type: integer
          format: int32
          minimum: 0
          maximum: 63
        acc_split_depth:
          type: integer
          format: int32
          minimum: 0
          maximum: 63
        this_addr:
          $ref: '#/components/schemas/AccountAddress'
        sibling_addr:
          $ref: '#/components/schemas/AccountAddress'
    TransactionDescrType:
      type: string
      enum: [ ord,storage,tick_tock,split_prepare,split_install,merge_prepare,merge_install ]
    TransactionDescr:
      type: object
      required: [ type ]
      properties:
        type:
          $ref: '#/components/schemas/TransactionDescrType'
      discriminator:
        propertyName: type
        mapping:
          ord: '#/components/schemas/TransactionDescrOrd'
          tick_tock: '#/components/schemas/TransactionDescrTickTock'
    TransactionDescrOrd:
      allOf:
        - $ref: '#/components/schemas/TransactionDescr'
        - type: object
          required: [ aborted,destroyed,credit_first,compute_ph ]
          properties:
            aborted:
              type: bool
[...]
