DATA_SOURCE_URI={{ postgres_exporter_host }}:{{ postgres_exporter_port }}/{{ postgres_exporter_database }}?sslmode={{ postgres_exporter_sslmode }}&application_name=postgres_exporter
DATA_SOURCE_USER={{ postgres_monitor_user }}
DATA_SOURCE_PASS_FILE=/etc/postgres_exporter/password
PG_EXPORTER_COLLECTION_TIMEOUT={{ postgres_exporter_collection_timeout }}

