[Unit]
Description = "{{ application_name }} service"
After = network.target

[Service]
Type = simple
Restart = always
RestartSec = 1
ExecStart={{ go_binary_path }}/{{ go_binary }} -bind "{{ bind_addr }}" -pg {{ pg_dsn }}?application_name={{ application_name }} -pg-master "{{ pg_master_dsn }}" {{ additional_args }}
ExecStopPost = /bin/echo "{{ application_name }} service down"
User = {{ service_user }}
Group = {{ service_group }}
LimitNOFILE = infinity
LimitNPROC = infinity
LimitMEMLOCK = infinity

[Install]
WantedBy = multi-user.target
